<!DOCTYPE html>  
<html lang="en">  
  <head>  
    <meta charset="utf-8" />  
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" />
  </head>  
  <body>
    <a href="/">Home</a>
    <h1>Archive for {{ archive.year }}/{{ archive.month }}</h1>

    <ul>
      {% for day in (1..31) %}
        {% if archive.posts[archive.year][archive.month][day] %}
          {% for post in archive.posts[archive.year][archive.month][day] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
    
    <span>Copyright &copy; {{ site.author }}</span>
  </body>  
</html> 