<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Slideshow</title>
    <link rel='stylesheet' href='css/core.css' type='text/css'/>
    <link rel='stylesheet' href='css/syntax.css' type='text/css'/>
    <script src='js/jquery.min.js'></script>
    <script src='js/core.js'></script>
  </head>
  <body>

    <div class="contents">
      <a href="#contents">Contents</a>
      
      <ul>
      {% for section in site.sections %}
        <li>
          <a href="#{{ section.id }}">{{ section.name }}</a>
          <ul>
          {% for slide in section.slides %}
            <li>
              <a href="#{{ slide.id }}">{{ slide.name }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
    </div>
  
    <div class="slides">
      {{ yield }}
    </div>
    
  </body>
</html>